@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

.title-app{
      font-weight: 300;
      color: #999;
}

#tickets{  
      min-height: 100vh;
      position: relative;
      .tickets-center{ 
            display: table-cell;
            align-self: center;
            .tickets-list{
                  max-width: 980px;
                  width: 100%;
                  margin: 0 auto;
            }
      }
}


.no-shadow{
      box-shadow: none !important;
      border: 1px solid #ddd;  
      margin-bottom: 15px;
}

.no-shadow:last-child{
      border-bottom: 1px solid #ddd !important;
}
 

.ticket-body{
      h1{
            text-align: center;
            font-weight: 100;
      }
}

#treeGrid{
      
      .ticket-body{
            overflow-x: hidden ;
      }
      
      .row, .container, .mat-expansion-panel-body{
            min-width: 900px !important;
            padding: 0 !important;
      } 

      .row{
            transition: all .4s ease;
            &:hover{
                  background: #adf;
            }
            
            &.header:hover{
                  background: none;
            }

            &.disabled:hover{
                  background: none;
            }

            &.tree-select{
                  background: #fc3;
            }

            &.tree-select:hover{
                  background: #fb3;
            }

      }

      .mat-expansion-panel-content{
            display: block !important;
      }

      .mat-expansion-panel{
            overflow-y: hidden;
            min-width: 900px !important;
            margin: 0;
      }

      .no-shadow{
            box-shadow: none !important;
            border: none;
            border-top: 1px solid #ddd !important;  
      }

      .ticket-body{
            border: none;
            border-top: 1px solid #ddd !important;  
      }

      .col-1,
      .col-2,
      .col-3,
      .col-4,
      .col-5,
      .col-6,
      .col-7,
      .col-8,
      .col-9,
      .col-10,
      .col-11,
      .col-12{
            border-right: 1px solid #ddd !important; 
            padding-top: 5px ;
            padding-bottom: 5px ;
      }

      
     
}
 


