
<div class="container">
<div id="tickets" class="row align-items-center">
      <div class="tickets-center col-12 py-5">
            <div class="tickets-list">
             <div class="pb-4  text-center">
                  <h2 class="title-app">Passagens Aéreas <small class="ml-4"><i class="fas fa-plane"></i></small></h2>
                  <div>
                        <button mat-raised-button (click)="data_view = 'treeGrid'" class="mr-2" >TreeGrid</button>
                        <button mat-raised-button (click)="data_view = 'responsive'">Responsivo</button>
                  </div>
             </div>

              <!-- TreeGrid -->
             <div class="table-responsive" id="treeGrid" *ngIf="data_view === 'treeGrid'">
                    
                  <div class="ticket-body container" >
                        <div class="row header p-0">
                              <div class="col-3 pt-3">  <small class="text-muted">Linha Aérea / Nº Voo</small> </div>
                              <div class="col-2 pt-3"><small class="text-muted">Nome</small></div>
                              <div class="col-2 pt-3"><small class="text-muted">CPF</small></div>
                              <div class="col-2 pt-3"><small class="text-muted">Data e Hora do Voo</small></div>
                              <div class="col-2 pt-3"><small class="text-muted">Valor da Passagem</small></div>
                              <div class="col-1 "><small class="text-muted">Assento Nº</small></div> 
                        </div>
                  </div>
                    
                  <mat-accordion multi class="p-0">
                        <!-- airline -->
                        <mat-expansion-panel 
                        [expanded]="airline_item.tickets.length > 0 ? true : false"
                        hideToggle class="p-0"  
                        *ngFor="let airline_item of tickets; let airline_id = index"  
                        [disabled]="airline_item.tickets.length > 0 ? false : true" 
                        (opened)="airline_item.tree_state = true"
                        (closed)="airline_item.tree_state = false">
                              <mat-expansion-panel-header class="p-0">
                                    <div class="row p-0">
                                          <div class="col-3  col-tree">
                                                <button class="btn-link btn" [ngStyle]="{'opacity' : airline_item.tickets.length > 0 ? '1' : '0'}" > <i class="fas " [ngClass]="{'fa-angle-down': airline_item.tree_state === false, 'fa-angle-up': airline_item.tree_state === true }"></i> </button>{{ airline_item.airline }} 
                                          </div>
                                          <div class="col-9 pt-3  col-tree">
                                                {{ airline_item.tickets.length === 0 ? 'Nenhuma' : airline_item.tickets.length }} passage{{airline_item.tickets.length <= 1 ? 'm' : 'ns' }} encontada{{airline_item.tickets.length <= 1 ? '' : 's' }}
                                          </div>
                                    </div>
                              </mat-expansion-panel-header  >
      
                              <mat-accordion multi class="ticket-treeGrid p-0"> 
                                    <!-- tickets -->
                                    <mat-expansion-panel 
                                    hideToggle expanded
                                    *ngFor="let ticket_item of airline_item.tickets; let ticket_id = index" 
                                    class="no-shadow p-0"
                                    (opened)="ticket_item.tree_state = true"
                                    (closed)="ticket_item.tree_state = false">
                                          <mat-expansion-panel-header class="p-0">
                                                <mat-panel-title class="p-0">
                                                      <div class="row p-0">
                                                            <div class="col-3 pl-5 col-tree">
                                                                  <button class="btn-link btn">
                                                                        <i class="fas " [ngClass]="{
                                                                              'fa-angle-down': ticket_item.tree_state === false, 
                                                                              'fa-angle-up': ticket_item.tree_state === true 
                                                                        }"></i> 
                                                                  </button>
                                                                 #{{ ticket_item.flight_number }}
                                                            </div>
                                                      </div>
                                                </mat-panel-title>
                                                <mat-panel-description>
                                                
                                                </mat-panel-description>
                                          </mat-expansion-panel-header >
                                          <div class="ticket-body container">
                                                <div class="row p-0" [ngClass]="{ 'tree-select': ticket_item.tree_select === true }">
                                                      <div class="col-3 "> 
                                                            <span class="pl-5 mr-3" ><input type="checkbox"  
                                                            #tooltip="matTooltip"
                                                            matTooltip="Selecionar "
                                                            matTooltipPosition="above"
                                                            [(ngModel)]="ticket_item.tree_select"
                                                            name="tree_select"
                                                            ></span>
                                                            <a href="javascript:void(0)"
                                                            (click)="openDialog(ticket_item)"
                                                            #tooltip="matTooltip"
                                                            matTooltip="Editar "
                                                            matTooltipPosition="above"  >
                                                            <mat-icon>edit</mat-icon>
                                                            </a>
                                                            <a  href="javascript:void(0)"
                                                            (click)="deleteTicket(airline_id, ticket_id)"
                                                            class="px-0 text-danger" #tooltip="matTooltip"
                                                            matTooltip="Excluir Passagem #{{ ticket_item.flight_number }}"    
                                                            matTooltipPosition="above" >
                                                            <mat-icon>delete</mat-icon>
                                                            </a>
                                                      </div>
                                                      <div class="col-2 pt-3"><p class="m-0">{{ ticket_item.name }} {{ ticket_item.surname }}</p></div>
                                                      <div class="col-2 pt-3"><p class="m-0">{{ ticket_item.cpf }}</p></div>
                                                      <div class="col-2 pt-3"><p class="m-0">{{ ticket_item.departure_date | date : 'dd/MM/yyyy' }} - {{ '0000-00-00T' + ticket_item.departure_hour | date : 'H:mm' }}</p></div>
                                                      <div class="col-2 pt-3"><p class="m-0">{{ ticket_item.ticket_value | currency:'BRL':true}}</p></div>
                                                      <div class="col-1  pt-3"><p class="m-0">{{ ticket_item.seat }}</p></div> 
                                                      
                                                </div>
                                          </div>
                                    </mat-expansion-panel>
                                    <!-- tickets end -->
                              </mat-accordion>
      
                        </mat-expansion-panel>
                        <!-- airline end -->
                  </mat-accordion>
            </div>
            

             <!-- Responsive -->
            <mat-accordion multi  *ngIf="data_view === 'responsive'">
                  <!-- airline -->
                  <mat-expansion-panel [expanded]="airline_item.tickets.length > 0 ? true : false" *ngFor="let airline_item of tickets; let airline_id = index"  [disabled]="airline_item.tickets.length > 0 ? false : true">
                        <mat-expansion-panel-header>
                              <mat-panel-title>
                              {{ airline_item.airline }} 
                              </mat-panel-title>
                              <mat-panel-description >
                                    {{ airline_item.tickets.length === 0 ? 'Nenhuma' : airline_item.tickets.length }} passage{{airline_item.tickets.length <= 1 ? 'm' : 'ns' }} encontada{{airline_item.tickets.length <= 1 ? '' : 's' }}
                              </mat-panel-description>
                        </mat-expansion-panel-header  >

                        <mat-accordion multi> 
                              <!-- tickets -->
                              <mat-expansion-panel expanded *ngFor="let ticket_item of airline_item.tickets; let ticket_id = index" class="no-shadow">
                                    <mat-expansion-panel-header>
                                          <mat-panel-title>
                                          Nº do voo: #{{ ticket_item.flight_number }}
                                          </mat-panel-title>
                                          <mat-panel-description>
                                          
                                          </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <div class="ticket-body container">
                                          <div class="row">
                                                <div class="col-md-2 pt-md-0 pt-3"><small class="text-muted">Nome</small><p class="m-0">{{ ticket_item.name }} {{ ticket_item.surname }}</p></div>
                                                <div class="col-md-2 pt-md-0 pt-3"><small class="text-muted">CPF</small><p class="m-0">{{ ticket_item.cpf }}</p></div>
                                                <div class="col-md-3 pt-md-0 pt-3"><small class="text-muted">Data e Hora do Voo</small><p class="m-0">{{ ticket_item.departure_date | date : 'dd/MM/yyyy' }} - {{ '0000-00-00T' + ticket_item.departure_hour | date : 'H:mm' }}</p></div>
                                                <div class="col-md-2 pt-md-0 pt-3"><small class="text-muted">Valor da Passagem</small><p class="m-0">{{ ticket_item.ticket_value | currency:'BRL':true}}</p></div>
                                                <div class="col-md   pt-md-0 pt-3 px-3 px-md-0"><small class="text-muted">Assento Nº</small><p class="m-0">{{ ticket_item.seat }}</p></div> 
                                                <div class="col-md-2 d-flex text-center justify-content-center text-md-right justify-items-end"> 
                                                      <button
                                                      (click)="openDialog(ticket_item)"
                                                      class="px-0" #tooltip="matTooltip"
                                                      matTooltip="Editar "
                                                      matTooltipPosition="above"
                                                      mat-button color="primary" >
                                                      <mat-icon>edit</mat-icon>
                                                    </button>
                                                      <button 
                                                      (click)="deleteTicket(airline_id, ticket_id)"
                                                      class="px-0" #tooltip="matTooltip"
                                                      matTooltip="Excluir Passagem #{{ ticket_item.flight_number }}"    
                                                      matTooltipPosition="above"
                                                      mat-button color="warn" >
                                                      <mat-icon>delete</mat-icon>
                                                    </button>
                                                </div>
                                          </div>
                                    </div>
                              </mat-expansion-panel>
                              <!-- tickets end -->
                        </mat-accordion>

                  </mat-expansion-panel>
                  <!-- airline end -->
            </mat-accordion>
                      
            </div>
      </div>
</div>
</div>
