/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #f5f5f5;}
#treeGrid{
.mat-expansion-panel-body {
      padding-left: 0 !important;
      padding-right: 0 !important;
      padding-bottom: 0 !important;
  }
  .mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
      display: block;
      flex-grow: initial;
      margin-right: 0;
  }
  .mat-expansion-panel-header {
      display: initial;
      /* flex-direction: row; */
      /* align-items: center; */
      /* padding: 0 24px; */
      /* border-radius: inherit; */
  }
  .mat-content {
      display: initial;
      flex: 1;
      flex-direction: row;
      overflow: hidden;
  }
}
 