.mat-form-field {
      width: 100%;
}

.mat-form-field-flex {
      border-radius: 4px 4px 0 0;
      padding: 0 !important;
}
.mat-form-field-flex {
      background-color: rgba(0,0,0,0) !important;
}