<h1 mat-dialog-title>Voo Nº #{{ticket.flight_number}}</h1>
 

      <div class="container ">
            <div class="row"> 
                  <div class="col-md-6">
                        <mat-form-field>
                              <mat-label>Seu Nome</mat-label>
                              <input cdkFocusInitial matInput [(ngModel)]="ticket.name" name="nome">
                        </mat-form-field>
                  </div>
                  <div class="col-md-6">
                        <mat-form-field>
                              <mat-label>Seu Sobrenome</mat-label>
                              <input matInput [(ngModel)]="ticket.surname" name="surname">
                        </mat-form-field>
                  </div>
                  <div class="col-md-6">
                        <mat-form-field>
                              <mat-label>Seu CPF</mat-label>
                              <input matInput [(ngModel)]="ticket.cpf" name="cpf" mask="000.000.000-99">
                        </mat-form-field>
                  </div>
                  <div class="col-md-6">
                        <mat-form-field>
                              <mat-label>Hora do Voo </mat-label>
                              <input type="time" matInput [(ngModel)]="ticket.departure_hour" name="departure_hour">
                        </mat-form-field>
                  </div>
                  <div class="col-md-6">
                        <mat-form-field appearance="fill">
                        <mat-label>Data do Voo</mat-label>
                        <input matInput [matDatepicker]="picker" [formControl]="ticket.departure_date" disabled="true">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker disabled="false"></mat-datepicker>
                        </mat-form-field>
                  </div>
                  
                  <div class="col-md-6">
                        <mat-form-field appearance="fill">
                              <mat-label>Assento</mat-label>
                              <mat-select [(ngModel)]="ticket.seat" name="seat">
                                <mat-option *ngFor="let seat of seats" [value]="seat">
                                  {{ seat }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                  </div>
                  <div class="col-12 text-center"> <small class="text-muted">Valor da passagem</small> <h1>{{ ticket.ticket_value | currency:'BRL':true}}</h1> </div>
            </div>   
      </div>
      
      <div mat-dialog-actions>
            <button mat-button (click)="saveTicket()">Salvar</button> 
            <button mat-button (click)="dialogRef.close()">Fechar</button> 
      </div>

 
      
      
      